version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=user_name
      - POSTGRES_PASSWORD=supersecretpassword
      - POSTGRES_DB=url_shortener_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/db_data
    networks:
      - app-network


  backend-app:
    build: ./backend
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql+asyncpg://user_name:supersecretpassword@db:5432/url_shortener_db
    networks:
      - app-network



networks:
  app-network:
    driver: bridge


volumes:
  db_data:

